*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 300px;
    height: 70px;
    display: flex;
    background-color: #C53592;
    justify-content: center;
    margin: 100px auto;
    border-radius: 50px;
    align-items: center;
    padding: 20em;
}

.stopwatch-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}

.stopwatch-time #hour{
    width: 5rem;
    height: 4rem;
    border-radius: 20%;
    background: #c7e0f8;
    color: #0776de;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.stopwatch-time #minute{
    width: 5rem;
    height: 4rem;
    border-radius: 20%;
    background: #c7e0f8;
    color: #0776de;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    /* margin: 1em; */
}

.stopwatch-time #second{
    width: 5rem;
    height: 4rem;
    border-radius: 20%;
    background: #c7e0f8;
    color: #0776de;
    font-size: 30px;
    display: flex;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
    /* margin: -1em; */
}

.stopwatch-button {
    display: flex;
}

.stopwatch-button button {
    background-color: #C53592;
    color: white;
    font-size: 100%;
    font-weight: 700;
    margin: 10px;
    width: 130px;
    height: 50px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px  #ffffff;
    border: none;
    border-radius: 30px;
}

@media (max-width: 657px) {
    .stopwatch-button {
        display: flex;
        flex-direction: column;
    }
}